<div class="footer">
    <div class="container">
        <p>&copy; <%= Time.now.year %> EduSphere LMS. All rights reserved.</p>
        <ul class="social-links">
            <li><a href="https://facebook.com">Facebook</a></li>
            <li><a href="https://twitter.com">Twitter</a></li>
            <li><a href="https://linkedin.com">LinkedIn</a></li>
        </ul>
    </div>
</div>
